.updateActivityTime{
    text-align: center;
    margin: 9% auto;
}
/* button{
        border-radius: 50%;
        width: 0;
        height: 32px;
        padding: 0px 0px 0px 29px;
        border: 1px solid #141f2e08;
    } */
